<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239368595989-dfahcf3mt3lcfcuev2aiqfi1c92gtr9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239368595989-dfahcf3mt3lcfcuev2aiqfi1c92gtr9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239368595989-6dhmelfdj7vn1k5119lou3bivb3jp4k6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0b0bwfaD-baclCyleTkqpu4serGQX-Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>239368595989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabber.secretEssential</string>
	<key>PROJECT_ID</key>
	<string>secret-essential</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-essential.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239368595989:ios:814759afba7cd7c8d9bc1c</string>
	<key>DATABASE_URL</key>
	<string>https://secret-essential.firebaseio.com</string>
</dict>
</plist>